<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #416a59;
}
li {
  float: left;
}
a {
  display: block;
  color: #d3d3d3;
  padding: 10px;
  text-align: center;
  border-right: 1px solid #d3d3d3;
}
</style>
</head>
<body>

<div class='topBar'>
<ul>
  <li><a href="/organisms">All Organisms</a></li>
  <li><a href="/plots">All Plots</a></li>
  <li><a href=<%= "/plots/#{@plot.id}/organisms/new" %>>New Organism</a></li>
  </br>
</ul>
</div>

<h1><%= @plot.name %></h1>
<% @organisms.each do |organism| %>
  <h2><%= organism.name %></h2>
  <p><%= organism.name %> is <%= organism.plant ? 'a plant' : 'an animal' %></p>
  <p>Space Taken : <%= organism.max_size_sqft %> sq ft</p>
<% end %>

</body>
</html>
