<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #416a59;
}
li {
  float: left;
}
a {
  display: block;
  color: #d3d3d3;
  padding: 10px;
  text-align: center;
  border-right: 1px solid #d3d3d3;
}
</style>
</head>
<body>

<div class='topBar'>
<ul>
  <li><a href=><%= link_to 'All Organisms', '/organisms' %></li>
  <li><%= link_to 'All Plots', '/plots' %></li>
  </br>
</ul>
</div>

<h1><%= @organism.name %></h1>
<p>Lives in the : <%= @organism.plot.name %></p>
<p><%= @organism.name %> is <%= @organism.plant ? 'a plant' : 'an animal' %></p>
<p>Space Taken : <%= @organism.max_size_sqft %> sq ft</p>
<p>Alive : <%= @organism.alive ? 'Yes' : 'No' %> sq ft</p>

<ul>
  <li><%= link_to 'Update Organism', "/organisms/#{@organism.id}/edit" %></li>
  <li><%= link_to "Delete #{@organism.name}", "/organisms/#{@organism.id}", data: {turbo_method: :delete} %></li>
</ul>

</body>
</html>
