<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #416a59;
}
li {
  float: left;
}
a {
  display: block;
  color: #d3d3d3;
  padding: 10px;
  text-align: center;
  border-right: 1px solid #d3d3d3;
}
</style>
</head>
<body>

<div class='topBar'>
<ul>
  <li><%= link_to 'All Organisms', '/organisms' %></li>
  <li><%= link_to 'New Plot', '/plots/new' %></li>
  </br>
</ul>
</div>

<h1>Plots of Land</h1>

<% @plots.each do |plot| %>
  <h2><%= plot.name %></h2> 
  <p><%= plot.created_at %></p>
  <%= link_to "Update #{plot.name}", "/plots/#{plot.id}/edit" %>
<% end %>

</body>
</html>